<header class="header-padrao">
	<div class="header-container">
		<h1 class="header-titulo">
			<a href="#"><img class="header-logo" src="./imagens/logo png.png" alt="logo da assessoria"></a>
		</h1>

		<nav class="header-nav">
			
			<a class="header-nav-link" href="#">Início</a>
			<a class="header-nav-link" href="#">Alunos</a>
			<a class="header-nav-link" href="#">Corridas</a>
			<a class="header-nav-link" href="#">Mensalidade</a>

		</nav>
	</div>
</header>