<html lang="en">
<head>
  <%- include ('./all/head', {titulo: 'Home'}) -%>
</head>

<header>
	<%- include ('./all/header') -%>
</header>

<body>
<main class="main-mensalidade">
	<section class="menu-mensalidade">
    <article class="menu-mensalidade-principal">
      <h2 class="titulo-principal"><i class="fas fa-hand-holding-usd"></i> Mensalidade</h2>

      <!--Botão Dropdown-->
      <div class="dropdown" id="menu-mensalidade-botao-drop">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opções
        </button>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Mês atual</a>
          <a class="dropdown-item" href="#">Meses anteriores</a>
        </div>
      </div>

    </article>

    <article class="menu-mensalidade-busca">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar Aluno" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0 btn-buscar" type="submit">Buscar</button>
      </form>
    </article>
	</section>


	<section class="mensalidade-cards">
		<article class='card' id='mensalidade-card'>				
			<h4 class='mensalidade-card-title'><i class="fas fa-comment-dollar"></i> Nome</h4>

			<div class="mensalidade-card-body">
				<div class="check-pagamento">
		    	<label>
		    		<input type="checkbox" aria-label="Checkbox for following text input"> <i class="fas fa-check-circle icone-mensalidade"></i>
		    	</label>
		    </div>
			</div>
		</article>

		<article class='card' id='mensalidade-card'>				
			<h4 class='mensalidade-card-title'><i class="fas fa-comment-dollar"></i> Nome</h4>

			<div class="mensalidade-card-body">
				<div class="check-pagamento">
		    	<label>
		    		<input type="checkbox" aria-label="Checkbox for following text input"> <i class="fas fa-check-circle icone-mensalidade"></i>
		    	</label>
		    </div>
			</div>
		</article>

		
	</section>


</main>  
</body>

</html>