<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../all/head', {titulo: 'Alunos'}) -%>
</head>

<header>
	<%- include ('../all/header') -%>
</header>


<body>  
<main class="main-alunos">
	<section class="menu-alunos">
		<h2 class="titulo-principal"><i class="fas fa-graduation-cap"></i> Alunos</h2>

		<form class="form-inline-busca">
	    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Aluno" aria-label="Search">
	    <button class="btn btn-outline-secondary my-2 my-sm-0 btn-buscar" type="submit">Buscar</button>
	  </form>
	</section>

	<!--Card alunos-->
	<section class="cards-alunos">
		<article class="card-aluno mb-3">
		  <div class="card-aluno-header card-header text-center ">
		    <ul class="card-aluno-nav nav nav-tabs card-header-tabs ">
		      <li class="card-aluno-nav-item nav-item ">
		        <a class="card-aluno-nav-link nav-link active text-secondary"  id="fichaPessoal" href="#">Ficha Pessoal</a>
		      </li>
		      <li class="card-aluno-nav-item nav-item ">
		        <a class="card-aluno-nav-link nav-link text-secondary" onclick="bla()" id="planilhaAtual" href="#">Planilha Atual</a>
		      </li>
		      <li class="nav-item card-alunos-nav-item">
		        <a class="card-aluno-nav-link nav-link text-secondary" id="novaPlanilha" href="#">Nova Planilha</a>
		      </li>
		      <li class="nav-item card-aluno-nav-item">
		        <a class="card-aluno-nav-link nav-link text-secondary" id="antigasPlanilhas" href="#">Antigas</a>
		      </li>
		    </ul>
		  </div>

		 <div id='conteudo'>
		  <div class="card-aluno-body card-body">
		    <h5 class="card-aluno-title card-title">Nome do Aluno</h5>

		    <ul class="card-aluno-info card-info">
		    	<li>Nome: ...</li>
		    	<li>Telefone: ...</li>
		    	<li>CPF: ...</li>
		    </ul>

		    <ul>
		    	<li>Data de nascimento: ...</li>
		    	<li>E-mail: ...</li>
		    	<li>Camiseta tamanho: ...</li>
		    </ul>

		    <div class="check-pagamento">
		    	<label>
		    		<input type="checkbox" aria-label="Checkbox for following text input"> Mensalidade
		    	</label>
		    	<label>
		    		<input type="checkbox" aria-label="Checkbox for following text input"> Kit Entregue
		    	</label>
		  	</div>
			</div>
		</div>

			<div class="card-aluno-botoes">   
		  	<a href="#" class="card-alunos-botao btn btn-outline-secondary">Editar</a>
		  	<a href="#" class="card-alunos-botao btn btn-outline-secondary">Adicionar à corrida</a>
			</div>
		</article>
		
		<!--Próximo card-->
	

	</section>

</main>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	function bla() {
		$('#fichaPessoal').removeClass('active');
		$('#planilhaAtual').addClass('active');

		$('#conteudo').html();

	}
</script> 

<%- include ('./planilha') -%>


</html>