<section class="planilha">
	<table class="planilha-nova">
		<thead class="planilha-head">
			<tr>
				<th>Domingo</th>
				<th>Segunda</th>
				<th>Terça</th>
				<th>Quarta</th>
				<th>Quinta</th>
				<th>Sexta</th>
				<th>Sábado</th>
			</tr>
		</thead>
		
		<tbody id="planilha-conteudo">
			<tr class="semana-1">
				<td class="dia-semana-1"><sup>1</sup></td>
				<td class="dia-semana-1"><sup>2</sup> 10x200m<br> <i class="far fa-clock"></i> 58"</td>
				<td class="dia-semana-1"><sup>3</sup></td>
				<td class="dia-semana-1"><sup>4</sup> 12x200m<br> <i class="far fa-clock"></i> 58"</td>
				<td class="dia-semana-1"><sup>5</sup></td>
				<td class="dia-semana-1"><sup>6</sup></td>
				<td class="dia-semana-1"><sup>7</sup> <br> <i class="far fa-clock"></i> 1h20"</td></td>
			</tr>

			<tr class="semana-2">
				<td class="dia-semana-2">1</td>
				<td class="dia-semana-2">2</td>
				<td class="dia-semana-2">3</td>
				<td class="dia-semana-2">4</td>
				<td class="dia-semana-2">5</td>
				<td class="dia-semana-2">6</td>
				<td class="dia-semana-2">7</td>
			</tr>

			<tr class="semana-3">
				<td class="dia-semana-3">1</td>
				<td class="dia-semana-3">2</td>
				<td class="dia-semana-3">3</td>
				<td class="dia-semana-3">4</td>
				<td class="dia-semana-3">5</td>
				<td class="dia-semana-3">6</td>
				<td class="dia-semana-3">7</td>
			</tr>

			<tr class="semana-4">
				<td class="dia-semana-4">1</td>
				<td class="dia-semana-4">2</td>
				<td class="dia-semana-4">3</td>
				<td class="dia-semana-4">4</td>
				<td class="dia-semana-4">5</td>
				<td class="dia-semana-4">6</td>
				<td class="dia-semana-4">7</td>
			</tr>
							
		</tbody>
	</table>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	

	
</script>